body {
  font-size: 17px;
  line-height: 30px;
}

.topic {
  color: black;
  font-size: 24px;
  background: #ffa726;
  padding: 10px 10px 10px 10px;
}

.common-text {
  line-height: 50px;
  font-size: 18px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.solution-title .title {
  border-bottom: 1px dashed;
  display: inline;
  cursor: pointer;
}

.code-title .title {
  display: inline;
  cursor: pointer;
}


.solution-body {
  border: 1px solid gray;
  background-color: #def;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

